.section-our-services {
    padding: 5rem 0;
}

.our-services {
    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
    }

    &__item {
        flex-basis: calc(33.333% - 60px);

        &:hover .our-services__title {
            background-color: darken($main-blue, 20%);
            letter-spacing: .1rem;
        }
    }

    &__icon {
        margin-bottom: 1.25rem;

        img {
            display: block;
            max-width: 120px;
            margin: 0 auto;
        }
    }

    &__title {
        text-decoration: none;
        display: block;
        text-align: center;
        margin-top: 1.25rem;
        font-size: 1.5rem !important;
        color: #fff !important;
        background-color: $main-blue;
        padding: 0.5rem 0;
        border-radius: 10px;
        transition: all .25s;

    }


    &__text {
        font-size: 1rem;
        line-height: 1.4;
        margin-top: 1.25rem;
    }
}

@media(max-width:1024px) {
    .our-services {
        &__row {
            margin-top: 3rem;
            margin-left: auto;
            margin-right: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 550px;
        }

        &__item:not(:first-child) {
            margin-top: 1rem;
        }
    }
}