@import "modules/header/header";
@import "modules/btn/btn";
@import "modules/our-services/services";
@import "modules/page-form/page-form";
@import "modules/page-video/page-video";
@import "modules/popular-shops/popular-shops";
@import "modules/worldwide-service/service";
@import "modules/text-block/text-block";
@import "modules/cost/cost";
@import "modules_dress/dress";
@import "modules/footer/footer";

.page-reviews {
    padding: 5rem 0;
}

.accord-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 10px;
    background-color: #F9C92B;
    color: #fff !important;
    margin: 0 auto;
}

input[type="submit"] {
    border-radius: 10px !important;
    transition: all .25s;

    &:hover {
        background-color: darken($main-blue, 5%) !important;
    }

    &:active {
        background-color: darken($main-blue, 25%) !important;
    }
}


.gdlr-core-input-wrap.gdlr-core-full-width input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]),
.gdlr-core-input-wrap.gdlr-core-full-width textarea,
.gdlr-core-input-wrap.gdlr-core-full-width select {
    font-weight: 600;
}



.popup {
	display: none;
	max-width: 1200px !important;
}

.popup__body {
	display: flex;
}

.popup__text {
	flex-basis: 90%;
	margin-right: 50px;
}

.popup__img {
	margin-bottom: 30px;
}

.popup__img img {
	display: block;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	
}

.popup__h2 {
	font-size: 2.4rem;
	color: #044272 !important;
}

.popup__h3 {
	font-size: 2rem !important;
	color: #044272 !important;
}

.popup__p {
	margin: 0;
	
}

.popup__p:not(:first-child) {
	margin-top: 20px;
}

@media(max-width:920px) {
	.popup__body {
		flex-direction: column;
	}
	.popup__text {
	flex-basis: 90%;
	margin-right: 0;
		margin-bottom: 40px;
}
	.popup {
		padding-left: 20px;
		padding-right: 20px;
	}
}