.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;

    i {
        color: #fff !important;
        font-size: 1.5rem !important;
    }

    &__item:not(:first-child) {
        margin-left: 2rem;
    }
}

.footer-content {
    padding: 2.5rem 0;
    background-color: #003855;
    color: #fff;

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__row:last-child {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
    }

    &__item {
        flex-basis: calc(33.333% - 20px);
    }



    p {
        line-height: 1.5;
        margin-top: 0;

    }

    p:last-child {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

.footer-contacts {
    &__title {
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        font-size: 1.25rem !important;
        color: #fff !important;
    }

    &__item:last-child {
        margin-top: 2rem;
    }
}

.footer-contacts-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

.footer-phone-mail {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__link:last-child {
        margin-top: 1rem;
    }

    &__link {
        color: #fff !important;
        text-decoration: none;
    }


}

.footer-phone-mail span {
    color: #fff !important;
}


.footer-confed {
    display: flex;
    justify-content: space-between;

    &__link {
        color: #fff !important;
        text-decoration: none;



        span {
            border-bottom: 2px solid rgba(255, 255, 255, 0.2)
        }
    }

}

.footer-confed__col {
    flex-basis: calc(33.333% - 20px);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.footer-content__item_confed {
    width: 100%;
}

.footer-confed__link:not(:first-child) {
    margin-top: 1rem;
}

.bold {
    font-family: $title-font;
}

@media(max-width:1160px) {
    .footer-phone-mail {
        flex-direction: column;
    }
}

.footer-dress__list {
    list-style: none;
    margin: 0;

}

.footer-dress__link {
    display: inline-block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8) !important;
    padding: 10px 0;
    text-decoration: none;

    &:hover {
        color: #fff !important;
    }

}

@media(max-width:767px) {
    .footer-content {
        text-align: center;

        &__row {
            flex-direction: column-reverse;
        }

        &__item {
            &_confed {
                display: block !important;
                margin-top: 0;
            }
        }

        &__item:first-child {
            margin-top: 3rem;
        }

        &__item:last-child {

            flex-basis: 100%;
        }

        .footer-content__item:nth-child(2) {
            margin-top: 3rem;
        }


    }

    .footer-confed {
        flex-direction: column;
    }


    .footer-contacts-wrap {

        align-items: center;
    }

    .footer-social {
        margin-right: 0;
    }

    .footer-phone-mail {
        width: 100%;
        display: flex;
        justify-content: space-around;

        &__link:last-child {
            margin-top: 1rem;
        }
    }

    .footer-phone-mail span:first-child {
        margin-right: 0;
    }
}

.service-grid__img img {
    max-width: 60px;
}