html,
body {
    font-size: 16px !important;
    font-family: $text-font !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font !important;
    font-weight: 800 !important;
}

@media(max-width:767px) {

    html,
    body {
        font-size: 14px !important;
    }
}

@media(max-width:375px) {

    html,
    body {
        font-size: 13px !important;
    }
}